.text {
    background-color: red;
}
#title{
    font-weight: bold;
    padding: 10px;
}
#title:hover{
	background-color: blue;
}
.panel{
    background-color: green;
    padding: 10px;
}

.panel:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}